{% extends "AppBundle:vue:base.html.twig" %}

{% block componentId %}product-item{% endblock %}

{% block template %}
    <div class="col-md-6">
        <div class="product-item" :class="{active: selected}">
            <p>{{"products.item.name"|trans}} : ${product.name}</p>
            <p :class="{overpriced: product.price > 80}">{{"products.item.price"|trans}} : ${product.price}</p>
            <p>{{"products.item.comment_count"|trans}} : 
                <span v-if="loading">{{"products.item.loading"|trans}}...</span>
                <span v-else>${commentCount}</span>
            </p>
            <button @click="selectToggle">{{"products.item.select"|trans}}</button>
        </div>
    </div>
{% endblock %}