{% extends "AppBundle::base.html.twig" %}

{% block title %}
Liste des produits
{% endblock %}

{% block content %}

<basket></basket>

<p>Total de {{ totalProductCount }} produits</p>
{{ form_start(form) }}
{{ form_label(form.minPrice) }}
{{ form_widget(form.minPrice) }}
{{ form_label(form.maxPrice) }}
{{ form_widget(form.maxPrice) }}
{{ form_widget(form.submit) }}
{{ form_end(form) }}

<product-list 
    products="{{ json_encode(serializeEntities(products)) }}" 
    min-price="{{ form.vars.value.minPrice|default(0) }}" 
    max-price="{{ form.vars.value.maxPrice|default(100) }}">
</product-list>

{% endblock %}